<%= form_for(@entry) do |f| %>

  <p>
    <%= f.label :MPG %><br>
    <%= f.text_field :mpg %>
  </p>
  <p>
    <%= f.label :miles %><br>
    <%= f.text_field :miles_driven %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>