<%= simple_form_for (current_user.entries.build) do |f| %>

	<% if @entry.errors.any? %>
		<div id="error_explanation" >
			<h2>
				<%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved: </h2>
			<ul>
				<% @entry.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

    <%= f.input :date, as: :date, start_year: Date.today.year - 10,
                                 end_year: Date.today.year, discard_day: true,
                                  order: [:month, :year] %>
    <%= f.submit %>
<% end %>