<%= form_for(current_user.entries.build) do |f| %>
  <p>
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </p>
  <p>
    <%= f.label :MPG %><br>
    <%= f.text_field :mpg %>
  </p>
  <p>
    <%= f.label :MPM %><br>
    <%= f.text_field :mpm %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>