<%= simple_form_for(@entry) do |f| %>
    <a href="#" class="form_type">Car</a>
        <div class="form">Car Form
          <p>
            <%= f.input :mpg %>
          </p>
          <p>
            <%= f.input :miles_driven %>
          </p>
          <p>
            <%= f.submit %>
          </p>
        </div>
    </div>
        
   <a href="#" class="form_type">Home</a>
        <div class="form">Home Form
              <p>
                <%= f.input :state, :collection => ["AK","AL","AR","AZ","CA","CO","CT","DC","DE","FL","GA","GU","HI","IA","ID", "IL","IN","KS","KY","LA","MA","MD","ME","MH","MI","MN","MO","MS","MT","NC","ND","NE","NH","NJ","NM","NV","NY", "OH","OK","OR","PA","PR","PW","RI","SC","SD","TN","TX","UT","VA","VI","VT","WA","WI","WV","WY"] %>
              </p>
              <p>
                <%= f.input :num_people %>
              </p>
              <p>
                <%= f.input :electricity %>
              </p>
              <p>
                <%= f.input :natural_gas %>
              </p>
               <p>
                <%= f.input :heating_oil %>
              </p>
              <p>
                <%= f.submit %>
              </p>
        </div>
<% end %>