<html xmlns="http://www.w3.org/1999/xhtml">
<div class = "container">   
    <!-- DASHBOARD HEADER -->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Dashboard</h4>
                </div>
            </div>
           
            </div>
            
            <!-- RENDER DASHBOARD BOXES -->
            <div class="row">
                <%= render 'layouts/dashboard'%>
            </div>
            <!-- DASHBOARD CONTENT -->
            <div class="row">
                <!-- HISTORY TABLE -->
                <div class="col-md-4">
                    <div class="notice-board">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3>History</h3></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Entry Date</th>
                                                <th>Status</th>
                                                <th>Details</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% @entries.each do |entry| %>
                                            <tr>
                                                <td><%= entry.date.month %> - <%= entry.date.year %></td>
                                                <% if home_data?(entry) && car_data?(entry) && entry.diet_type? %>
                                                    <td>
                                                        <%= link_to 'OK, Edit', edit_entry_path(entry), :class => "btn btn-info btn-xs" %>
                                                    </td>
                                                <% else %>
                                                    <td><a href= "/entries/<%=entry.id.to_s%>/edit" class="btn btn-warning btn-xs">Info needed</a></td>
                                                <% end %>
                                                <td><a href= "/entries/<%=entry.id.to_s%>" class="btn btn-success btn-xs">View</a></td>
                
                                                <td><%= button_to 'Delete', [entry],
                				                    method: :delete,
                				                    data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></a></td>
                                            <% end %>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">New Entry</button>                    
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">New Entry</h4>
                                      </div>
                                        <%= render 'tab_form_final' %>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- GRAPH -->
                <div class="col-md-8">
                    <div class="notice-board">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>Monthly Carbon Footprint (lbs CO2)</h3>
                            </div>
                            <div class="panel-body">
                                <% if user_signed_in? %>
                                    <!-- prep column chart data -->
                                    <% home_data(current_user, @home_data) %>
                                    <% car_data(current_user, @car_data) %>
                                    <% diet_data(current_user, @diet_data) %>
                                    <% @data = [ {name: "Home", data: @home_data}, {name: "Car", data: @car_data}, {name: "Diet", data: @diet_data} ].reverse! %>
                                    
                                    <!-- column chart -->
                                    <%= column_chart @data, stacked: true, content_for: :charts_js %>  
                               <% end %>
                            </div>
                        </div>
                    </div>
                    <!-- WARNING ALERTS -->
                    <% @entries.each do |entry| %>
                        <% if !home_data?(entry) || !car_data?(entry) || !entry.diet_type? %>
                            <p class="alert alert-danger">Please enter info for <%= entry.date%> so we can make more accurate calculations for you!</p>
                        <% else %>
                        <% end %>
                    <% end %>
                </div>
                
            </div>                      
        </div>
    </div>
</div>
