<div class="container">
    <div class="c-wrapper">       
        
        <div class="on_head">
            <h1 class="page-head-line"> Entry: <%= @entry.date.month %> - <%= @entry.date.year %> </h1>
        </div>
       
        <div class="panel-body">
            <div class="table-responsive">
                <h2>Summary</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Home Footprint</th>
                            <th>Car Footprint</th>
                            <th>Diet Footprint</th>
                            <th>Total Footprint</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= home_footprint(@entry).round(2) %></td>
                            <td><%= car_footprint(@entry).round(2) %></td>
                            <td><%= diet_footprint(@entry).round(2) %></td>
                            <td><%= total_footprint(@entry).round(2) %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <% if !home_data?(@entry) %>
            <p class="alert alert-danger">You are missing some valuse in your home data so US averages are currently being displayed and used to calculate your footprint</p>
        <% end %>
        
        <div class="panel-body">
            <div class="table-responsive">
                <h2>Home</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>State</th>
                            <th>Population</th>
                            <th>Electricity</th>
                            <th>Natural Gas</th>
                            <th>Heating Oil</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= @entry.state %> </td>
                            <td><%= @entry.num_people %> </td>
                            <td><%= @entry.electricity %> kWh </td>
                            <td><%= @entry.natural_gas %> therms </td>
                            <td><%= @entry.heating_oil %> gal </td>
                            <td><%= home_footprint(@entry).round(2) %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <% if !car_data?(@entry) %>
            <p class="alert alert-danger">You are missing some valuse in your car data so US averages are currently being displayed and used to calculate your footprint</p>
        <% end %>

        <div class="panel-body">
            <div class="table-responsive">
                <h2>Car</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>MPG</th>
                            <th>Miles/Month</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= @entry.mpg %> mpg </td>
                            <td><%= @entry.miles_driven %> miles </td>
                            <td><%= car_footprint(@entry).round(2) %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <% if !@entry.diet_type? %>
            <p class="alert alert-danger">You are missing some valuse in your diet data so US averages are currently being displayed and used to calculate your footprint</p>
        <% end %>
        
        <div class="panel-body">
            <div class="table-responsive">
                <h2>Diet</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Diet</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= @entry.diet_type %> </td>
                            <td><%= diet_footprint(@entry).round(2) %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>