<!--SIGN UP -->

<div class = "container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="page-head-line">Welcome to C-12</h4>
        </div>
    </div>
    
    <!-- RENDER DASHBOARD BOXES -->
    <div class="row">
        <%= render 'layouts/columns'%>
    </div>
    
    <div class="conatiner">
        <div class="c-wrapper">
            <div class ="row">
                <div class="col-md-6">
                    <div class="Compose-Message">               
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h2>Log in</h2>
                            </div>
                            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                <div class="form-inputs">
                                      <div class="row">
                                          <div class="col-med-offset-3 col-md-6">
                                              <%= f.input :email, required: false, autofocus: true,
                                              :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %>
                                          </div>
                                      </div>
                                </div>
                                <div class="form-inputs">
                                      <div class="row">
                                          <div class="col-med-offset-3 col-md-6">
                                              <%= f.input :password, required: false,
                                              :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %>
                                          </div>
                                      </div>
                                </div>
                                
                                <div class="form-inputs">
                                      <div class="row">
                                          <div class="col-med-offset-3 col-md-6">
                                              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                                          </div>
                                      </div>
                                </div>
                                
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-med-offset-3 col-md-6">
                                            <%= f.button :submit, "Log in", :class => "btn btn-success",
                                            :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <%= render 'layouts/avg_pie_chart' %>
            </div>
        </div>
    </div>
</div>