    <!-- LOGO HEADER END-->
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-left">  
                            <li><div class = 'company_title'>C-12| <small>Know your footprint.</small></div></li>
                        </ul>

                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <% if user_signed_in? %>
                                <li><a href="/entries">Dashboard</a></li>
                            <% else %>
                                <li><a href="/">Home</a></li>
                            <% end %>
                            <li><a href="/map">Maps</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <% if user_signed_in? %>
                                <li><%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
                            <% else %>
                                <li><%= link_to "Sign up", new_user_registration_path %></li>
                                <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>