<!DOCTYPE html>
<html>
    <head>
        <title>C12-Welcome</title>
        <%= csrf_meta_tags %>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
        <link rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.3.0/mapbox.directions.css' type='text/css' />
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        
    </head>
    <body>
        <%= render 'layouts/nav' %>
        <% if user_signed_in? %>
        <br><br><br>
            <div class = "container marketing">
        <% else %>
            <%= render 'layouts/carousel' %>
            <div class = "container marketing">
        <% end %>

        <%= yield %>

        </div>
        
        </br>
    <footer>
        <%= render 'layouts/footer' %>
        
    </footer>
        <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
        <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.3.0/mapbox.directions.js'></script>
        <%= javascript_include_tag "https://google.com/jsapi", "chartkick" %> 
        <%= javascript_include_tag "application", "chartkick" %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

        <%= yield :charts_js %>    
    </body>
</html>
